@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323:wght@200;300;400;500;600;700;800&display=swap');

.body {
  margin: 0;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'montserrat', sans-serif;
  margin: auto;
}

.header {
  font-size: 96px;
  font-family: 'VT323', sans-serif;
  margin-top: 4rem;
}

.beware {
  margin-top: 10rem;
  display: flex;
}
.blkhole {
  font-size: 90px;
  width: 30rem;
  margin-left: 5rem;
  z-index: 2;
}

.img {
  z-index: 1;

}

.gameHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 35px;
}

.attention {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.fast {
  margin-left: 20rem;
  font-size: 30px;
}

.playbtn {
  margin-top: 5rem;
  width: 15rem;
  height: 5rem;
  font-size: 30px;
  background-color: rgba(103, 227, 241, 0.155);
  border: 2px solid rgb(90, 199, 212);
  color: white;
  cursor: pointer;
}

.game {
  margin-top: 20rem;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.basics {
  margin-left: 5rem;
  background-color: rgba(103, 227, 241, 0.155);
  border: 2px solid rgb(90, 199, 212);
  width: 35rem;
  height: 30rem;
}

.basTxt {
  font-size: 30px;
  margin-left: 2rem;
}

.sun {
  float: right;
  margin-right: 2rem;
}

.rightCol {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
}

.mini {
  background-color: rgba(103, 227, 241, 0.155);
  border: 2px solid rgb(90, 199, 212);
  width: 35rem;
  height: 12rem;
  margin-bottom: 6rem;
}

.miniTxt {
  font-size: 30px;
  margin-left: 2rem;
}

.plan {
  background-color: rgba(103, 227, 241, 0.155);
  border: 2px solid rgb(90, 199, 212);
 width: 35rem;
 height: 12rem;
}

.planTxt {
  font-size: 30px;
  margin-left: 2rem;
}

.card {
  float: right;
  margin-top: -5rem;
}

.load {
  float: right;
  margin-top: -5rem;
  margin-right: 2rem;
}

.characters {
  margin-top: 20rem;
}

.comp {
  margin-top: 15rem;
}

.high {
  margin-top: 20rem;
}

.quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.quo {
  font-size: 30px;
  align-items: center;
  text-align: center;
}

.name {
  margin-top: -2rem;
  font-style: italic;
  margin-left: 30rem;
  margin-bottom: 7rem;
}

.caro {
  margin-top: 7rem;
}

.alicar {
  margin-top: 5rem;
}

.about {
  margin-top: 15rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.md3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-size: 20px;
  margin-bottom: 6rem;
}

.fswd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-size: 20px;
}

.des {
  margin-left: 3rem;
  margin-top: 6rem;
}

.warning {
  font-size: 50px;
  margin-bottom: 4rem;
}